<?xml version="1.0" ?>
<robot name="tas_car"   xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="materials.urdf" />
    <xacro:include filename="tas_car.urdf" />
    <xacro:include filename="sensor_lidar_front.urdf" />
    <!-- <xacro:include filename="sensor_lidar_back.urdf" />   -->
    <xacro:include filename="sensor_imu.urdf" />
    <xacro:include filename="sensor_camera.urdf" />
    <xacro:include filename="wheels.urdf" />
    
</robot>
