<?xml version="1.0" ?>
<robot name="tas_car"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ************ IMU related links and joints ************ -->
    <link name="imu_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.02"/>
            </geometry>
            <material name="Grey"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${mass_imu_link}"/>
            <xacro:inertia_box mass="${mass_imu_link}" x="0.05" y="0.05" z="0.02" />
        </inertial>
    </link>

    <joint name="imu_link_joint" type="fixed">
        <axis rpy="0 0 0" xyz="0 0 1"/>
        <origin rpy="0 0 0" xyz="0.08 0.124 0.115"/>
        <parent link="base"/>
        <child link="imu_link"/>
    </joint>

    <!-- IMU -->
    <gazebo reference = "imu_link">
        <sensor name='imu_sensor' type='imu'>
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>false</visualize>
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
            <plugin name='TAS_imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
                <frame_name>imu_link</frame_name>
                <ros>
                    <namespace>/imu</namespace>
                    <remapping>~/out:=data</remapping>
                </ros>
            </plugin>
        </sensor>
    </gazebo>


</robot>
